
.page-layout {
    /* display: grid;
    grid-template-rows: 10% 1fr 15%; */
}

/* HEADER */


.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.header-layout .main-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */
.main-content {
    padding-left: 2em;
    padding-right: 2em;
}

.main-layout {
    display: grid;
    grid-template-rows: 3rem 1fr 21em;
    gap: 20px;
}

/* GALLERY-CONTROL */
.main-layout .gallery-controller {
    display: grid;
    grid-template-columns: 1fr 0.5fr 4fr 0.5fr;
    grid-auto-rows: max-content;
    gap: 1rem;
}
.main-layout .gallery-controller input {
    grid-column: 1;
}
.main-layout .gallery-controller label {
    grid-column: 2;
}
.main-layout .gallery-controller .keywords {
    grid-column: 3;

}
.main-layout .gallery-controller .more-keywords-btn {
    grid-column: 4;
    align-self:flex-start;
    justify-self: start;
}

/* GALLERY */
.main-layout .imgs-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: max-content;
    gap: 10px;
}

/* ABOUT */
.about-container {
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        ". title"
        "img p"
        ". nav";
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.about-container .about-img {
    grid-area: img;
}
.about-container .about-title {
    grid-area: title;
}
.about-container .about-p {
    grid-area: p;
}
.about-container .social-nav {
    grid-area: nav;
}

/* FOOTER */
.main-footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.main-footer p {
    margin-bottom: 2em;
}


