.editor-container {
    display: none;
}

body.editor-open {
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: 92.23px 1fr 143.43;
    
}
header {
    grid-row: 1;
}
main {
    grid-row: 2;
}
footer {
    grid-row: 3;
}

body.editor-open .gallery-container {
    display: none;
}
body.editor-open .memes-container {
    display: none;
}
body.editor-open .editor-container {
    background-color: var(--clr4-bgClr);
    display: flex;
    /* height: calc(100vh - 235.66px); */
}

body.editor-open .header-layout {
    margin-bottom: 0;
}

body.editor-open .main-content {
    padding: 0;
}



.editor-container .canvas-container {
    width: 40%;
    height: 90%;
    /* margin: 1rem; */
}

.editor-container #editor-canvas {
    background-color: var(--clr2-whiteClr);
    margin: 0 auto;
    /* padding: 1rem; */
}

.editor-container .editor-control .btn{
    width: 40px;
    height: 40px;
}
.editor-container .editor-control .move-up-btn,.move-down-btn{
    font-size: xx-large;
    line-height: 0;
}
.editor-container .editor-control .save-btn{
    width: auto;
    background-color: var(--clr3-primaryClr);
}
.editor-container .editor-control .download-btn{
    width: auto;
    background-color: var(--clr3-primaryClr);
    text-decoration: none;
    color: var(--clr1-black);
    padding: 10px;
    text-align: center;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* LAYOUT */

.editor-container {
    /* grid-template-columns: 1fr 1fr; */
    gap: 2rem;
    justify-content:center;
    align-content: center;
}

.editor-container .canvas-container {
    padding: 1rem;
}
.editor-container .editor-control {

    display: grid;
    grid-template-columns: repeat(5, 55px);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "txt txt txt txt txt"
    "replace . add-txt . delete"
    ". . . . . "
    "up down move-left move-center move-right"
    ". . . . . "
    "increase decrease . . color-btn"
    ". . save download download ";
    grid-auto-columns: auto;
    gap: 15px;
    padding: 1rem;
}
.editor-container .editor-control [name="txt-line"]{
    grid-area: txt;
}
.editor-container .editor-control .replace-btn{
    grid-area: replace;

}
.editor-container .editor-control .add-txt-line-btn{
    grid-area: add-txt;

}
.editor-container .editor-control .delete-line-btn{
    grid-area: delete;

}
.editor-container .editor-control .move-up-btn{
    grid-area: up;

}
.editor-container .editor-control .move-down-btn{
    grid-area: down;

}
.editor-container .editor-control .move-left-btn{
    grid-area: move-left;

}
.editor-container .editor-control .move-center-btn{
    grid-area: move-center;

}
.editor-container .editor-control .move-right-btn{
    grid-area: move-right;

}
.editor-container .editor-control .increase-font-btn{
    grid-area: increase;

}
.editor-container .editor-control .decrease-font-btn{
    grid-area: decrease;

}
.editor-container .editor-control .color-btn{
    grid-area: color-btn;

}
.editor-container .editor-control .save-btn{
    grid-area: save;

}
.editor-container .editor-control .download-btn{
    grid-area: download;

}
