
/* GALLERY-CONTROL */
.gallery-controller {
    padding-top: 1rem;
}

.gallery-controller #filter-imgs {
    border: 0;
    border-bottom: 2px solid var(--clr1-black);
}


.gallery-controller .search-btn {
    width: 2rem;
    height: 2rem;
    padding: 0.1em;
}

.gallery-controller .keywords {
    max-width: 100%;
    padding: 0.3px;
    border: 1px solid rgb(209, 205, 205);
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.7rem
}

.gallery-controller .keywords span {
    padding: 1rem;
    cursor: pointer;
}

.gallery-controller .random-btn {
    padding: 0 0.5em;
    background-color: transparent;
    border: 0;
    font-size: 1em;
    font-family: main-font;
    background-color: var(--clr3-primaryClr);
}

/* IMAGES-GALLERY */
.imgs-gallery {
    background-color: var(--clr4-bgClr);
    padding: 1rem;
}

.imgs-gallery .img-card {
    cursor: pointer;
}


/* ABOUT */
.about-img img {
    border-radius: 50%;
    object-fit: cover;
    object-position:center;
    margin-bottom: 1rem;
}

.about-container a img{
    width: 2.5em;
    height: 2.5em;
}